html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.arvore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 1;
}

.copa {
    position: relative;
}

.caule {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);

    width: 40px;
    height: 60px;
    background: brown;
}

.triangulo1 {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 120px solid #1a4301;
}

.triangulo2 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 110px solid #1a4301;
}

.triangulo3 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 90px solid #1a4301;
}

.chao {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #3e2f1c;
}

.bola {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;

    background: radial-gradient(circle at 30% 30%, #e95757, #ff0000);

}

.bolas-area {
    position: absolute;
    top: 0;
    left: -110px;
    width: 220px;
    height: 120px;
}

.pisca {
    width: 8px;
    height: 8px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    animation: piscar 1s infinite;
    box-shadow: 0 0 15px rgba(225, 225, 161, 1.5);
}

@keyframes piscar {
 0% {
        background-color: rgba(255, 242, 0, 0.1);  
        box-shadow: 0 0 2px rgba(255, 242, 0, 0.1);
    }
    25% {
        background-color: rgba(255, 230, 0, 0.6);
        box-shadow: 0 0 8px rgba(255, 230, 0, 0.6);
    }
    50% {
        background-color: rgba(255, 215, 0, 1);  
        box-shadow: 0 0 15px rgba(255, 215, 0, 1);
    }
    75% {
        background-color: rgba(255, 230, 0, 0.6);
        box-shadow: 0 0 8px rgba(255, 230, 0, 0.6);
    }
    100% {
        background-color: rgba(255, 242, 0, 0.1);  
        box-shadow: 0 0 2px rgba(255, 242, 0, 0.1);
    }
}